*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
--Strong-cyan: hsl(172, 67%, 45%);
}

body{
    height: 100vh;
    background-color:var(--Grayish-cyan);
    padding:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    font-family: "Space mono";
}
form{
    display: grid;
    gap:10px;
}
p{
    color: hsl(186, 14%, 43%);
    font-weight: 800;
}

.input_pattern{
    font-size: 24px;
    padding-left: 30px;
    background-color: hsl(189, 41%, 97%);
    border:none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input_cal{
    position: relative;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 5px;
}
.input_pattern:valid{
    border:2px solid green;
}
.input_pattern:invalid{
    border:2px solid red;
}

.input_cal img{
    position: absolute;
    height: 20px;
    left:10px;
    bottom:14px;
    padding: 0.1rem;

}
main{
    padding:0.5rem;
   
    display: grid;
    grid-gap:3rem;
    place-items: center;
      
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3rem;
    background-color: #fff;
    padding: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    min-width: 800px;
}
.calc{
    padding:1.2rem;
    display: grid;
    grid-gap:1.5rem;
}

.tips_montant{
    display:grid;
    grid-template-columns:repeat(3,33.33%);
    grid-gap:0.5rem;
}

.input_custom{
    text-align: center;
    font-size: 20px;
    background-color:hsl(183, 100%, 15%);
    color:#fff;
}
.tips_montant input::placeholder{
    color:#fff;
    font-family:"Space mono";
}
.montant{
    font-size: 20px;
    background-color: hsl(183, 100%, 15%);
    padding:0.5rem;
    text-align: center;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
}

.nbre_people{
    position: relative;
    padding: 5px;
    font-size: 1.2rem;
}

.nbre_people img{
    position: absolute;
    height: 20px;
    left:10px;
    bottom:14px;
    padding: 0.1rem;

}


.affiche{
    background-color: hsl(183, 100%, 15%);
    display: grid;
    border-radius: 5px;
}
.affiche p{
    color:#fff;
}
.affiche  span{
    color:hsl(186, 14%, 43%);;
}
.row{
    display:grid;
    padding: 1.2rem;
 
   
}
.col_2,.col_1{
    grid-column: span 2;
    display:flex;
    align-content:space-between ;
    padding:1rem;
    justify-content:space-between;
}
.affiche .price{
    color:var(--Strong-cyan);
    font-size: 24px;
}
.row_2{
    margin-top:auto;
    width: 100%;
    padding:1rem;
    /* border: solid 1px; */
}
.reset{
    text-transform: uppercase;
    border-radius: 5px;
    width:100%;
    padding:1rem;
    font-size: 15px;
    text-align:center;
    background-color: var(--Strong-cyan);
    color:var(--Very-dark-cyan);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

@media  (max-width: 750px) {
   


 main{
   grid-gap:0.5px;
    min-height: 100%;
 }
   .container{
    min-width: auto;
  
    grid-template-columns: 1fr;
    /* min-width: auto; */
   
    grid-gap:0;
    border-radius:5px 5px 0px 0px;
   }
   .tips_montant{
    grid-template-columns: 50% 50%;
   }
}